<div class="row">
    <div class="col-xs-12">
        <div class="site-info-inner">


            <nav class="footer-menu">

                <div class="menu-footer-container">
                    <ul id="menu-footer" class="menu">
                        <li><a href="/home/about">Who We Are</a></li>
                        <li><a href="/home/index" aria-current="page">Logistics</a></li>
                        <li><a href="/home/integrationstore" aria-current="page">Integration</a></li>
                        @*<li><a href="https://www.ctkusa.com/blog/" aria-current="page">Blog</a></li>*@
                        <li><a href="/home/contact/">Contact Us</a></li>
                    </ul>
                </div>
            </nav><!-- .footer-menu -->

            <nav class="social-menu">

                @*<div class="menu-social-container">
                        <ul id="menu-social" class="menu">
                            <li><a href="">LinkedIn</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Facebook</a></li>
                        </ul>
                    </div>*@
            </nav><!-- .social-menu -->

            <div class="site-info-text">

                Copyright © 2020 Logistic Solution USA
            </div>

        </div>
    </div>

</div>