@{
    Layout = "~/Views/Shared/MyAppLayout.cshtml";
}
<div class="row">
    <div class="hero">
        <div class="hero-inner">
            <div class="page-title-container">
                <header class="page-header">
                    <h1 class="page-title">About Us</h1>
                </header><!-- .entry-header -->
            </div><!-- .page-title-container -->
        </div>
    </div>
</div>

<div class="container" id="content">
    <div class="row fl-heading">
        <div class="col-xs-12">
            <h2 class="text-center">Who is CTK?</h2>
        </div>
        <div class="col-xs-12">
            <h6 class="text-center">
                CTK USA is the next generation of Logistic services. Our  experience of 20+ years, know-how strategic
                planning and quality service to the customer gives us the ability to introduce the next step of Logistic services.
            </h6>
        </div>
    </div>
    <div class="row SingleContent">
        <div class="col-md-6 col-xs-12">
            <img class="img-responsive" src="https://secureservercdn.net/45.40.144.60/gxc.552.myftpupload.com/wp-content/uploads/bb-plugin/cache/DSC_0009-square.jpg" alt="DSC_0009" itemprop="image" title="DSC_0009">
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="Flex">
                <div class="content">
                    <div class="page-content">
                        <h3><strong>Our Story</strong></h3>
                        <h6>
                            <strong>
                                CTK USA was built to fill a Logistics gap. We quickly noticed our customers needing more than just Logistic
                                services and introduced our Marketing and Branding division in 2017. We have since become the one stop solution
                                service for all your business needs. From idea to market, our team of experts are ready to assist.
                            </strong>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row SingleContent">

        <div class="col-md-6 col-xs-12">
            <div class="Flex">
                <div class="content">
                    <div class="page-content">
                        <h3><strong>Our Approach</strong></h3>
                        <h6>
                            <strong>
                                At CTK Solutions we don't believe in handing out a price sheet and have you pick from our services. Every project
                                and partner gets treated with a custom approach. We understand that every business and its status will be different.
                                Our team of experts will make sure to build and propose the right plans for all your business needs.
                            </strong>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <img class="img-responsive" src="https://secureservercdn.net/45.40.144.60/gxc.552.myftpupload.com/wp-content/uploads/bb-plugin/cache/Tour_15-square.png" alt="Tour_15" itemprop="image" title="Tour_15">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="fl-cta-wrap">
            <div class="fl-cta-text">
                <h3 class="fl-cta-title">Ready to find out more?</h3>
                <div class="fl-cta-text-content">
                    <p>Drop us a line today for a free quote!</p>
                </div>
            </div>
            <div class="fl-cta-button">
                <div class="fl-button-wrap fl-button-width-full">
                    <a href="/home/contact/" target="_self" class="fl-button" role="button">
                        <span class="fl-button-text">Click Here</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    !function (o) { var e = !1, n = !1; function t() { n.add(e).toggleClass("open") } function a(e) { e.preventDefault(); var n = o(this).parent(".menu-item-has-children"); n && n.toggleClass("open") } o(document).ready(function () { e = o("#site-navigation"), n = o("#menu-toggle"), e && n && (n.on("click", t), e.find(".expand").on("click", a), o(document).on("wp-custom-header-video-loaded", function () { o(".site-header").addClass("video-header") })) }) }(jQuery);
</script>
