
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div style="margin: auto; padding: 70px 0; width: 100%; height: 100%; color: #0072c6; text-align: center">
        <h2>
            This has been succesfully authenticated.
            <br />
            <br />
            Please close this window to continue.
        </h2>
    </div>
    
</body>
</html>
