@{
    Layout = "~/Views/Shared/MyAppLayout.cshtml";
}


<div class="row">
    <div class="hero">
        <div class="hero-inner">
            <div class="page-title-container">
                <header class="page-header">
                    <h1 class="page-title">Contact Us</h1>
                </header><!-- .entry-header -->
            </div><!-- .page-title-container -->
        </div>
    </div>
</div>

<div class="container" id="content">

    <div class="row ContactForm">
        <div class="col-md-6 col-xs-12">
            <h3><span style="font-size: 26px;"><strong>Are you ready to find out how we can help your business grow?</strong></span></h3>
            <p><span style="font-size: 18px;">To get a free Logistics or Marketing consultation, fill out the form, call us at&nbsp;</span><span style="font-size: 18px;">+1 (909) 406-5388, or email us at <a href="mailto:info@ctkusa.com">info@ctkusa.com&nbsp;</a></span></p>
            <p><img class="size-full wp-image-555 alignleft" src="https://secureservercdn.net/45.40.144.60/gxc.552.myftpupload.com/wp-content/uploads/2018/06/mainlogo.png" alt="" width="325" height="50" srcset="https://secureservercdn.net/45.40.144.60/gxc.552.myftpupload.com/wp-content/uploads/2018/06/mainlogo.png 325w, https://secureservercdn.net/45.40.144.60/gxc.552.myftpupload.com/wp-content/uploads/2018/06/mainlogo-300x46.png 300w" sizes="(max-width: 325px) 100vw, 325px"></p>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="content-area">
                    <div class="fl-input-group">
                        <label>Name (required)</label>
                        <input type="text" name="f-name" value="" size="40" class="form-control" id="f-name" aria-required="true" aria-invalid="false" placeholder="Your name">
                    </div>
                    <div class="fl-input-group">
                        <label>Website (required)</label>
                        <input type="url" name="website" value="" size="40" class="form-control" id="website" aria-required="true" aria-invalid="false" placeholder="Your website">
                    </div>
                    <div class="fl-input-group">
                        <label>Email (required)</label>
                        <input type="email" name="email" value="" size="40" class="form-control" id="email" aria-required="true" aria-invalid="false" placeholder="Your email">
                    </div>
                    <div class="fl-input-group">
                        <label>Average Monthly Order Volume (required)</label>
                        <input type="text" name="monthly-volume" value="" size="40" class="form-control" id="monthly-volume" aria-required="true" aria-invalid="false" placeholder="Please enter your average monthly order volume">
                    </div>
                    <div class="fl-input-group">
                        <label>Order Type</label>
                        <select name="order-type" class="form-control" id="order-type" aria-invalid="false"><option value="">---</option><option value="B2C">B2C</option><option value="B2B">B2B</option><option value="Both">Both</option></select>
                    </div>
                    <div class="fl-input-group">
                        <label>Your Message</label>
                        <textarea name="message" cols="40" rows="10" class="form-control" id="message" aria-required="true" aria-invalid="false" placeholder="Your message"></textarea>
                    </div>
                    <button style="margin: 10px 10px 10px 10px;" type="button" id="btnSubmit" class="btn btn-primary">Send</button>
                    @*<div class="button-wrap">
                            <input type="button" value="Send" id="btnSubmit" class="button">
                            <i class="fa fa-refresh fa-spin" aria-hidden="true" id="myDIV" style="display:none"></i>
                        </div>*@
                    <p></p>
                </div>
            </div>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <div class="fl-cta-wrap">
            <div class="fl-cta-text">
                <h3 class="fl-cta-title">Ready to find out more?</h3>
                <div class="fl-cta-text-content">
                    <p>Drop us a line today for a free quote!</p>
                </div>
            </div>
            <div class="fl-cta-button">
                <div class="fl-button-wrap fl-button-width-full">
                    <a href="/home/contact/" target="_self" class="fl-button" role="button">
                        <span class="fl-button-text">Click Here</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/contactus.js"></script>
<script type="text/javascript">
    !function (o) { var e = !1, n = !1; function t() { n.add(e).toggleClass("open") } function a(e) { e.preventDefault(); var n = o(this).parent(".menu-item-has-children"); n && n.toggleClass("open") } o(document).ready(function () { e = o("#site-navigation"), n = o("#menu-toggle"), e && n && (n.on("click", t), e.find(".expand").on("click", a), o(document).on("wp-custom-header-video-loaded", function () { o(".site-header").addClass("video-header") })) }) }(jQuery);
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "inline-block";
        } else {
            x.style.display = "none";
        }
    }
</script>
