
@{
    Layout = "~/Views/Shared/MyAppLayout.cshtml";
}

    @if (ViewBag.Msg != null)
    {
        <div class="alert alert-success" role="alert">
            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            <strong>Success! </strong>@ViewBag.Msg
        </div>
    }
    <div class="row">
        <div class="hero">
            <div class="hero-inner">
                <div class="page-title-container">
                    <header class="page-header">
                        <h1 class="page-title">Logistics</h1>
                    </header><!-- .entry-header -->
                </div><!-- .page-title-container -->
            </div>
        </div>
    </div>

    <div class="row">
        <div id="content" class="site-content">
            <main class="site-main" role="main">
                <article id="post-357" class="post-357 page type-page status-publish hentry">
                    <div class="page-content">
                        <h2>Custom Logistics Solutions</h2>
                        <p><strong>Logictics Solution USA</strong> Logistics is a full-service logistics company with over 20 years of experience in the industry. Logistic Solution’s newly re-designed facility is strategically located just minutes away from the Ontario airport and has multiple direct routes to the Long Beach Port. We focus on providing customized services to our customers while always maintaining the highest level of service at the lowest possible cost.&nbsp;From larger corporations to start-ups, the ability to mix our logistics, marketing, and sales groups allows us to provide some of the <strong>most competitive rates</strong> in the market while maintaining the high quality service you come to expect from <strong>Logistics Solution USA</strong>.</p>
                        <h2>Why Logictics Solution?</h2>
                        <p>At Logictics Solution USA we don’t believe in a one plan fits all approach. Each customer and their business gets treated with custom solutions. Our customers and professional partnerships range from larger corporations to start-ups. The ability to mix our logistics, in-house marketing and sales group allows us to provide some of the most competitive rates in the market. Our goal is always to maintain some of the most competitive rates in the market while providing the high quality service and results you come to expect from Logictics Solution USA.</p>
                        <h2>B2B &amp; B2C Solutions</h2>
                        <h4>Fulfillment</h4>
                        <ul>
                            <li>eCommerce Order Fulfillment</li>
                            <li>Pick &amp; Pack</li>
                            <li>Kitting and Assembly</li>
                            <li>B2B &amp; B2C order Fulfillment</li>
                        </ul>
                        <h4>Order Management</h4>
                        <ul>
                            <li>Activity Reporting</li>
                            <li>SKU Control</li>
                            <li>Cycle and Physical Inventory Count</li>
                            <li>Inventory Allocating</li>
                        </ul>
                        <h4>Shipping &amp; Tracking</h4>
                        <ul>
                            <li>Small Parcel Rate Shopping</li>
                            <li>FTL &amp; LTL Shipping Management</li>
                        </ul>
                        <h4>RMA ( Return Merchandise Authorization)</h4>
                        <ul>
                            <li>Inspection</li>
                            <li>Receiving and Re-stocking</li>
                            <li>Disposal</li>
                            <li>Exchange</li>
                        </ul>
                        <h4>FBA Preparation</h4>
                        <ul>
                            <li>Wrapping &amp; Palletizing</li>
                            <li>Pallet Storage</li>
                            <li>Transloading</li>
                            <li>Labeling</li>
                            <li>Shipping Compliance</li>
                            <li>Shipping Solutions</li>
                        </ul>
                        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31380.450316903196!2d-117.62775424524423!3d34.04436767301744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c3350d89cb2295%3A0x56ed4fa768788803!2sCTK+USA+-+Logistics+and+Fulfillment+Center!5e0!3m2!1sen!2sus!4v1529613210370" height="500" frameborder="0" allowfullscreen="allowfullscreen" style="width:100%"></iframe></p>
                        <h3>READY TO FIND OUT HOW WE CAN HELP YOUR BUSINESS GROW?</h3>
                        @*<p><a role="button" href="https://logisticsolutionstage.azurewebsites.net/Login" target="_self" rel="noopener noreferrer"> Learn More </a></p>*@
                        <h3>BUSINESS HOURS</h3>
                        <p>LOGISTICS: Monday – Friday, 8:00 a.m. – 5:00 p.m. PST <br /> OFFICE: Monday – Friday, 8:00 a.m. – 5:00 p.m. PST</p>
                        <h3>CONTACT INFORMATION</h3>
                        <p>2110 S. Parco Ave, Ontario, CA. 91761, USA Phone: (909) 406-5388, e-mail: info@logisticsolution.com <iframe src="https://www.google.com/maps/embed/v1/place?q=2110+S.+Parco+Ave.+Ontario&amp;key=AIzaSyD09zQ9PNDNNy9TadMuzRV_UsPUoWKntt8"></iframe></p>

                    </div><!-- .page-content -->
                </article><!-- #post-## -->
            </main>
        </div>
    </div>

  


