
@{
    Layout = "~/Views/Shared/MyAppLayout.cshtml";
}
@if (ViewBag.Msg != null)
{
    <div class="alert alert-success" role="alert">
        @*<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
        <strong>Success! </strong>@ViewBag.Msg
    </div>
}
<div class="row">
    <div class="hero">
        <div class="hero-inner">
            <div class="page-title-container">
                <header class="page-header">
                    <h1 class="page-title">Integration</h1>
                </header><!-- .entry-header -->
            </div><!-- .page-title-container -->
        </div>
    </div>
</div>
<div class="panel panel-default" style="margin-top:50px;">
    <div class="panel-heading">Create Integration-Shopify </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Store Name</label>
                @*@if (ViewBag.shopname != null)
                    {
                        <input type="text" class="form-control" readonly id="storename" value="@ViewBag.shopname" name="storename" aria-describedby="emailHelp">
                    }
                    else
                    {
                        <input type="text" class="form-control" id="storename" name="storename" aria-describedby="emailHelp">
                    }*@
                <input type="text" class="form-control" id="storename" name="storename" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Duration</label>
                <input type="number" class="form-control" id="duration" name="duration" aria-describedby="emailHelp">
            </div>
        </div>

    </div>

    @*<div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="account">Account</label>
                    <select id="account" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="warehouse">Warehouse</label>
                    <select id="warehouse" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="shipper">Shipper</label>
                    <select id="shipper" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
        </div>*@

    @*<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Store Name</label>
                    <input type="text" class="form-control" id="storename" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Location Name</label>
                    <input type="text" class="form-control" id="locationname" aria-describedby="emailHelp">
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="productsync" name="productsync">
                <label class="form-check-label" for="productsync">Product Sync</label>
            </div>
        </div>
        @*<div class="col-md-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="inventorysync">Inventory Sync</label>
                </div>
            </div>*@
        <div class="col-md-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="ordersync" name="ordersync">
                <label class="form-check-label" for="ordersync">Order Sync</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="customersync" name="customersync">
                <label class="form-check-label" for="customersync">Customer Sync</label>
            </div>
        </div>

    </div>
    @* <button style="margin: 10px 10px 10px 10px;" type="button" id="authreq" class="btn btn-primary">Authorize</button>*@
    <button style="margin: 10px 10px 10px 10px;" type="button" id="submitdetails" class="btn btn-primary">Save Changes</button>
</div>
@*<script src="~/js/Integration.js"></script>*@
<script type="text/javascript">
    !function (o) { var e = !1, n = !1; function t() { n.add(e).toggleClass("open") } function a(e) { e.preventDefault(); var n = o(this).parent(".menu-item-has-children"); n && n.toggleClass("open") } o(document).ready(function () { e = o("#site-navigation"), n = o("#menu-toggle"), e && n && (n.on("click", t), e.find(".expand").on("click", a), o(document).on("wp-custom-header-video-loaded", function () { o(".site-header").addClass("video-header") })) }) }(jQuery);
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
    //now we retrieve the object again, but in a string form.
    var customersDataString = sessionStorage.getItem("customersData");
    console.log(customersDataString);

    //to get the object we have to parse it.
    var customersData = JSON.parse(customersDataString);
    console.log(customersData);
</script>
